/** This class will hide all the body by default **/
#accordion .acc-body{
   display : none;
   padding : 10px;
}
/** This class will show the body if it has "active" parent class. "active" class will be added to panel div **/
#accordion .active .acc-body {
   display : block;
}
#accordion .panel{
  border : solid 1px #D6D6D6;
  margin:5px;
  padding : 5px;
  border-radius : 2px;
}